@import "animations.css";
@import "1200down.css" screen and (max-width: 1200px);
@import "1000down.css" screen and (max-width: 1000px);
@import "768down.css" screen and (max-width: 770px);
@import "500down.css" screen and (max-width: 500px);
@import "400down.css" screen and (max-width: 400px);

body,html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
    background-color: #E4E4E4;
    font-size: 1rem;
    -webkit-overflow-scrolling: touch !important;
}

.jumbotron {
  height: 300px;
}

.orange{
  color: #ce5814;
}

.blue{
  color: #0a69c9;
}

#buttons h2{
  letter-spacing: 6px;
}

#buttons i{
  font-size:4rem;
}

#mainDisplay {
  margin-bottom: 300px;
}

.modal-xl {
  width: 75% !important;
  max-width:1200px;
  margin: auto;
}

.hoverHL:hover{
  background-color: rgba(255, 93, 0, 0.06);
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
}

.btn-sm {
  font-size: .8rem;
  padding: 5px 8px 5px 8px;
}

footer a:hover{
  text-decoration: none;
}

footer a {
  font-size: 1.5rem;
}

.about h2 {
  font-weight: 1000 !important;
}
