.fadein {
  --duration: 2000ms;
  opacity: 1;
  transition: opacity var(--duration) ease-in-out;
  /* -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; */
}
.fadeout {
  --duration: 2000ms;
  opacity: 0;
  transition: opacity var(--duration) ease-in-out;
  /* -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; */
}
