.fadein {
  opacity: 1;
  transition: opacity 2s ease-in-out;
  /* -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; */
}
.fadeout {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  /* -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; */
}
